<h1> List of Books </h1>
<% @books.each do |book| %>
<section id ="book-<%=book.id%>">
  <p><b><%=book.title%></b></br>
      <%book.authors.each do |author|%>
      By <%=link_to author.name, "/authors/#{author.id}" %></br>
      <%end%>
     Number of Pages: <%=book.pages%></br>
    Published in <%=book.publication_year%>
    </p>
    </section>
<% end %>
