<h1> List of Books </h1>
<% @books.each do |book| %>
<section id ="book-<%=book.id%>">
  <p> <%= book.title %> </br>
    Number of Pages: <%= book.pages %>
    Published in <%= book.publication_year %></p>
    <% book.authors.each do |author| %>
    By <%= author.name %>
    <%end%>
    </section>
<% end %>
